

@media(max-width:576px) {
    .login{
        width: 100vh;
        padding: 0;
        border: 1px solid red;
        background-color: red;
        height: 20px;
    }    

    .login form{
        width: 100%;
        border: 1px solid red;
        margin: 0;
        padding: 0;
    }
}
